__pycache__/
*.py[cod]
*.ipynb_checkpoints
*.egg
*.o
*.so
analysis
.idea/
*/__pycache__/
*/build/
*/dist/
*/*/*.egg-info/
log.txt
.idea/
src/*/build/
src/*/dist/
src/demo_carn.sh
src/carn_baseline.sh

